/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "compass";
@import "colors";

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body {
  background-image: -webkit-gradient(
                     linear,
                     left bottom,
                     right bottom,
                     color-stop(0, #BABABA),
                     color-stop(0.5, #F5F5F5),
                     color-stop(1, #BABABA)
                   );
  background-image: -o-linear-gradient(right, #BABABA 0%, #F5F5F5 50%, #BABABA 100%);
  background-image: -moz-linear-gradient(right, #BABABA 0%, #F5F5F5 50%, #BABABA 100%);
  background-image: -webkit-linear-gradient(right, #BABABA 0%, #F5F5F5 50%, #BABABA 100%);
  background-image: -ms-linear-gradient(right, #BABABA 0%, #F5F5F5 50%, #BABABA 100%);
  background-image: linear-gradient(to right, #BABABA 0%, #F5F5F5 50%, #BABABA 100%);
  .container-fluid {
    padding-bottom: 30px;
  }
}

.panel {
  margin-bottom: 0px;
  background-color: #fff;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  button {
    font-weight: bold;
    font-size: 24px;
    margin-left: 10px;
  }
  .list-group-item a {
    font-weight: bold;
  }
}

.top-15 {
  margin-top: 15px !important;
}

p.filler {
  margin-bottom: 32px;
}

p.note {
  font-weight: bold;
}

p {
  font-size: 16px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-family: 'Arvo', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: $blue;
  text-align: center;
}

.navbar .nav {
  float: none;
  text-align: center;
  background-color: rgb(143, 143, 143);
  background-color: rgba(143, 143, 143, 0.6);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8F8F8F, endColorstr=#8F8F8F);
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8F8F8F, endColorstr=#8F8F8F);
}

.navbar .nav a {
  font-family: 'Arvo', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #FFF;
}

.navbar .nav > li {
  float: none;
  display: inline-block;
}

.navbar .nav > li > a:hover {
  color: $blue;
  background-color: #F5F5F5 !important;
}

#nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:10;
}

.container-fluid {
  padding: 0;
}

@media (max-width: 797px) {
  body {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.row.header img {
  width: 100%;
  max-height: 450px;
}

#main {
  .col-md-6 {
  }
}

#main-inner {
  padding: 30px;
  border-left: 10px solid $blue;
  border-right: 10px solid $blue;
  border-bottom: 10px solid $blue;
}

.nav-container {
  font-size: 18px;
  margin: 0 0 -24px 0;
  .left-cap {
    float: left;
    background: image-url('border_center.png') repeat-x 0 3px;
    height: 38px;
    width: 25%;
  }
  .text-center {
    float: left;
    width: 50%;
  }
  .right-cap {
    float: left;
    background: image-url('border_center.png') repeat-x 0 3px;
    height: 38px;
    width: 25%;
  }
}

.col-centered{
  float: none;
  margin: 0 auto;
}

#reception-map {
  height: 200px;
}

.beringer {
  margin-top: 20px;
  width: 100%;
  max-height: 180px;
  max-width: 180px;
}

@media (max-width: 797px) {
  .beringer {
    display: none;
  }
}

.container.first {
  margin-bottom: 20px;
  margin-top: -40px;
}

.col-centered {
  background: #FFF;
}

.col-centered.no-bg {
  background: none;
}

.divider {
  padding-right: 20px;
  border-right: 20px solid #F5F5F5;
}

.padded {
  padding-bottom: 15px;
}

.no-padding {
  padding: 0;
}

@media (max-width:767px) {
  .divider {
    border-right: none;
  }
}

@media (max-width:990px) {
  .divider {
    border-right: none;
  }
}

#registry {
  .thumbnail-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    margin-bottom:20px;
    a {
      border: 2px solid $blue;
      border-radius: 0;
    }
  }
  .thumbnail {
    position:absolute;
    width:100%;
    height:100%;
  }
  .thumbnail img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  img{
    max-height:100%;
    max-width:100%;
  }
}
